.notFound {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.notFound h1 {
    color: var(--black);
}

.notFound a {
    color: var(--black);
    text-decoration: none;
    font-size: 3rem;
    margin: 0;
}
.notFound a:hover {
    color: var(--primary);
}   